.window {
    width: 800px;
    height: 500px;
    background: white;
    position: fixed;
    overflow-x: auto;
    z-index: 50;
    overflow-y: hidden;
    -webkit-box-shadow: 0px 5px 0px 0px rgb(35,45,65, 0.3);
    -moz-box-shadow: 0px 5px 0px 0px rgb(35,45,65, 0.3);
    box-shadow: 0px 5px 0px 0px rgb(35,45,65, 0.3);
}

.window-header {
    position: absolute;
    width: 800px;
    height: 50px;
    background: #232d41;
    color: white;
    top: 0;
    left: 0;
}

.window-header p {
    line-height: 50px;
    height: 50px;
    padding: 0 10px;
    float: left;
}

.window-header button {
    float: right;
    height: 50px;
    width: 50px;
    color: white;
}

.window-hover-notification {
    width: 800px;
    height: 500px;
    position: fixed;
    background: #243048eb;
    opacity: 0;
    pointer-events: none;
}

.window-hover-notification p {
    font-size: 40pt;
    color: white;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.window-content {
    width: 790px;
    margin-top: 50px;
    padding: 5px;
    height: 450px;
    overflow-y: auto;
}

.model-form {
    display: grid;
    grid-template-columns: 250px 1fr;
    width: 780px;
}

.model-form p {
    padding: 10px;
    font-size: 9pt;
    width: 500px;
}

.model-form label {
    width: 230px;
    text-align: right;
    padding: 10px;
    background: gainsboro;
    font-size: 9pt;
}

.model-form input {
    padding: 10px;
    font-size: 9pt;
    width: 500px;
}

.model-form select {
    padding: 10px;
    font-size: 9pt;
    width: 500px;
}
.hidden-windows-container {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 30px;
    z-index: 9999;
}

.hidden-windows-container button {
    padding: 9px;
    background: #232d41;
    color: white;
    font-size: 9pt;
    margin: 5px;
    float: right;
}

p.window-line {
    width: 770px;
    padding: 10px;
    background: #20967c;
    color: white;
    position: relative;
}

.window-placeholder {
    background: gainsboro;
    width: 790px;
    height: 90px;
    overflow-y: auto;
}

button.window-add {
    position: absolute;
    right: 20px;
    width: 20px;
    height: 20px;
    color: white;
    font-size: 11pt;
    line-height: 20px;
}

.window-control-panel {
    height: 30px;
    position: absolute;
    top: 0;
    right: 100px;
}

.window-control-panel button {
    float: right;
    height: 50px;
    width: 50px;
    color: white;
}

.selector {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background: white;
    padding: 50px;
    height: 200px;
    width: 200px;
    -webkit-box-shadow: 0px 5px 5px 2px  rgb(35,45,65, 0.3);
    -moz-box-shadow: 0px 5px 5px 2px  rgb(35,45,65, 0.3);
    box-shadow: 0px 5px 5px 2px rgb(35,45,65, 0.3);
}

.file-input>* {
    float: left;
    height: 30px;
    font-size: 9pt;
    line-height: 30px;
    margin-right: 10px;
}

.file-input a {
    background: #20967c;
    color: white;
    padding: 0 10px;
    margin-left: 10px;
}

.file-input button {
    background: #ff6766;
    color: white;
    padding: 0 10px;
    margin-left: 10px;
}

.window-control-panel a {
    color: white;
}
.add-line-placeholder {
    width: 400px;
    background: gainsboro;
    margin: 10px;
    padding: 10px;
}

.entity-line {
    margin: 10px;
    padding: 10px;
    font-size: 9pt;
    display: grid;
    grid-template-columns: 100px 1fr 30px 30px;
    background: gainsboro;
}

.entity-container {
    max-height: 135px;
    overflow-y: auto;
}

.window-header-highlight {
    width: 800px;
    height: 5px;
    position: absolute;
    bottom: 0;
}

img.resource-img {
    height: 400px;
    margin: 10px auto;
    object-fit: scale-down;
    position: relative;
    display: block;
}